<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>

</script>
  <link rel="stylesheet" href="estilos.css">

</head>

<body>
<nav>


</nav>
<main>

    <article id="shopstable-div" clas="shopstable-div">
        <h2 >Tiendas disponibles</h2>
    <table id="shopstable" class="shopstable"></table>
    </article>
    <article id="picturestable-div" class="picturestable-div" style="visibility: hidden;">
        <h2>Cuadros de la tienda </h2>
        <table id="picturestable" class="picturestable">

        </table>
    </article>
</main>

<script src="main.js"></script>
</body>


</html>